/* resetting css */
@import url(./reset.css);

/* styling the body */

main {
  background: linear-gradient(300deg, purple, orange);
  height: 100vh;

  display: flex;
  flex-direction: column;

  /* place-content: center; */
  align-items: center;
}

.todo-app {
  min-width: 300px;
  width: 45%;
  min-height: 30%;
  background-color: white;
  border-radius: 9px;
  padding: 0.9rem;
  margin-top: 3rem;
}
.todo-app h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.9rem;
}

.row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 300px;
  background-color: red;
  background: transparent;
  background-color: rgba(39, 38, 38, 0.329);
}
.row input {
  padding: 0.9rem;
  border-radius: 300px;
  border: none;
  outline: none;

  background: transparent;

  min-width: 70%;
}
.row button {
  border-radius: 300px;
  padding: 0.9rem 2rem;
  background-color: red;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}
.row button:hover {
  background-color: rgba(255, 0, 0, 0.568);
  color: rgba(255, 255, 255, 0.705);
}

/* styling the list */
.todo-app ul {
  padding: 1.5rem 0;
}

.todo-app ul li {
  font-size: 17px;
  list-style: none;
  padding: 16px 8px 12px 50px;
  cursor: pointer;
  user-select: none;
  width: 80%;
  overflow-wrap: break-word;
}

.todo-app ul li:before {
  content: " ";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(../assets/circle.svg);
  background-size: cover;
  background-position: center;
  left: 18%;
  margin-top: -4.8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(../assets/check-circle.svg);
}

ul span {
  position: absolute;
  font-size: 1rem;
  background-color: rgba(39, 50, 59, 0.014);
  border-radius: 50%;
  padding: 0.5rem 0.66rem;
  margin-top: -7px;
  left: 70%;
}

ul span:hover {
  background-color: #5555553f;
}

.list {
  background-color: black;
}
/* styling for larger screen */
@media screen and (min-width: 500px) {
  .todo-app ul li:before {
    left: 29%;
  }
  ul li span {
    left: 65%;
  }
}

/* footer {
  background-color: black;
  color: white;
  display: block;
  place-items: center;
  align-items: center;
  justify-content: center;
  place-content: center;
  min-height: 90px;
} */
